<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>10J869</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>XAnalogTV</string>
	<key>CFBundleIdentifier</key>
	<string>org.jwz.xscreensaver.XAnalogTV</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>XAnalogTV</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.14</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>5.14</string>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>10M2518</string>
	<key>DTPlatformVersion</key>
	<string>PG</string>
	<key>DTSDKBuild</key>
	<string>8S2167</string>
	<key>DTSDKName</key>
	<string>macosx10.4</string>
	<key>DTXcode</key>
	<string>0400</string>
	<key>DTXcodeBuild</key>
	<string>10M2518</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.4</string>
	<key>NSMainNibFile</key>
	<string>SaverTester</string>
	<key>NSPrincipalClass</key>
	<string>XScreenSaverXAnalogTVView</string>
	<key>NSHumanReadableCopyright</key>
	<string>XAnalogTV 5.14, © 2011 Trevor Blackwell and Jamie Zawinski.</string>
	<key>CFBundleLongVersionString</key>
	<string>XAnalogTV 5.14, © 2011 Trevor Blackwell and Jamie Zawinski.</string>
	<key>CFBundleGetInfoString</key>
	<string>XAnalogTV 5.14, © 2003-2011 Trevor Blackwell and Jamie Zawinski.
From the XScreenSaver collection:
http://www.jwz.org/xscreensaver/

XAnalogTV shows a detailed simulation of an old TV set showing various test patterns, with various picture artifacts like snow, bloom, distortion, ghosting, and hash noise. It also simulates the TV warming up. It will cycle through 12 channels, some with images you give it, and some with color bars or nothing but static.</string>
</dict>
</plist>
