<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>10J869</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>WebCollage</string>
	<key>CFBundleIdentifier</key>
	<string>org.jwz.xscreensaver.WebCollage</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>WebCollage</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.14</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>5.14</string>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>10M2518</string>
	<key>DTPlatformVersion</key>
	<string>PG</string>
	<key>DTSDKBuild</key>
	<string>8S2167</string>
	<key>DTSDKName</key>
	<string>macosx10.4</string>
	<key>DTXcode</key>
	<string>0400</string>
	<key>DTXcodeBuild</key>
	<string>10M2518</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.4</string>
	<key>NSMainNibFile</key>
	<string>SaverTester</string>
	<key>NSPrincipalClass</key>
	<string>XScreenSaverWebCollageView</string>
	<key>NSHumanReadableCopyright</key>
	<string>WebCollage 5.14, © 2011 Jamie Zawinski.</string>
	<key>CFBundleLongVersionString</key>
	<string>WebCollage 5.14, © 2011 Jamie Zawinski.</string>
	<key>CFBundleGetInfoString</key>
	<string>WebCollage 5.14, © 1999-2011 Jamie Zawinski.
From the XScreenSaver collection:
http://www.jwz.org/xscreensaver/

This makes collages out of random images pulled off of the World Wide Web.  It finds these images by doing random web searches, and then extracting images from the returned pages.

WARNING: THE INTERNET SOMETIMES CONTAINS PORNOGRAPHY.

The Internet being what it is, absolutely anything might show up in the collage including -- quite possibly -- pornography, or even nudity. Please act accordingly.

See also http://www.jwz.org/webcollage/</string>
</dict>
</plist>
