<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>10J869</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Maze</string>
	<key>CFBundleIdentifier</key>
	<string>org.jwz.xscreensaver.Maze</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Maze</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.14</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>5.14</string>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>10M2518</string>
	<key>DTPlatformVersion</key>
	<string>PG</string>
	<key>DTSDKBuild</key>
	<string>8S2167</string>
	<key>DTSDKName</key>
	<string>macosx10.4</string>
	<key>DTXcode</key>
	<string>0400</string>
	<key>DTXcodeBuild</key>
	<string>10M2518</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.4</string>
	<key>NSMainNibFile</key>
	<string>SaverTester</string>
	<key>NSPrincipalClass</key>
	<string>XScreenSaverMazeView</string>
	<key>NSHumanReadableCopyright</key>
	<string>Maze 5.14, © 2011 Martin Weiss, Dave Lemke, Jim Randell, Jamie Zawinski, Johannes Keukelaar, and Zack Weinberg.</string>
	<key>CFBundleLongVersionString</key>
	<string>Maze 5.14, © 2011 Martin Weiss, Dave Lemke, Jim Randell, Jamie Zawinski, Johannes Keukelaar, and Zack Weinberg.</string>
	<key>CFBundleGetInfoString</key>
	<string>Maze 5.14, © 1985-2011 Martin Weiss, Dave Lemke, Jim Randell, Jamie Zawinski, Johannes Keukelaar, and Zack Weinberg.
From the XScreenSaver collection:
http://www.jwz.org/xscreensaver/

This generates random mazes (with three different maze-generation algorithms), and then solves them.  Backtracking and look-ahead paths are displayed in different colors.</string>
</dict>
</plist>
