<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>10J869</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>m6502</string>
	<key>CFBundleIdentifier</key>
	<string>org.jwz.xscreensaver.m6502</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>m6502</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.14</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>5.14</string>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>10M2518</string>
	<key>DTPlatformVersion</key>
	<string>PG</string>
	<key>DTSDKBuild</key>
	<string>8S2167</string>
	<key>DTSDKName</key>
	<string>macosx10.4</string>
	<key>DTXcode</key>
	<string>0400</string>
	<key>DTXcodeBuild</key>
	<string>10M2518</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.4</string>
	<key>NSMainNibFile</key>
	<string>SaverTester</string>
	<key>NSPrincipalClass</key>
	<string>XScreenSaverm6502View</string>
	<key>NSHumanReadableCopyright</key>
	<string>m6502 5.14, © 2011 Stian Soreng, Jeremy English, and Jamie Zawinski.</string>
	<key>CFBundleLongVersionString</key>
	<string>m6502 5.14, © 2011 Stian Soreng, Jeremy English, and Jamie Zawinski.</string>
	<key>CFBundleGetInfoString</key>
	<string>m6502 5.14, © 2007-2011 Stian Soreng, Jeremy English, and Jamie Zawinski.
From the XScreenSaver collection:
http://www.jwz.org/xscreensaver/

This emulates a 6502 microprocessor.  The family of 6502 chips were used throughout the 70's and 80's in machines such as the Atari 2600, Commodore PET, VIC20 and C64, Apple ][, and the NES. Some example programs are included, and it can also read in an assembly file as input.

Original JavaScript Version by Stian Soreng: http://www.6502asm.com/. Ported to XScreenSaver by Jeremy English.</string>
</dict>
</plist>
