<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>10J869</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Apple2</string>
	<key>CFBundleIdentifier</key>
	<string>org.jwz.xscreensaver.Apple2</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Apple2</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.14</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>5.14</string>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>10M2518</string>
	<key>DTPlatformVersion</key>
	<string>PG</string>
	<key>DTSDKBuild</key>
	<string>8S2167</string>
	<key>DTSDKName</key>
	<string>macosx10.4</string>
	<key>DTXcode</key>
	<string>0400</string>
	<key>DTXcodeBuild</key>
	<string>10M2518</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.4</string>
	<key>NSMainNibFile</key>
	<string>SaverTester</string>
	<key>NSPrincipalClass</key>
	<string>XScreenSaverApple2View</string>
	<key>NSHumanReadableCopyright</key>
	<string>Apple2 5.14, © 2011 Trevor Blackwell and Jamie Zawinski.</string>
	<key>CFBundleLongVersionString</key>
	<string>Apple2 5.14, © 2011 Trevor Blackwell and Jamie Zawinski.</string>
	<key>CFBundleGetInfoString</key>
	<string>Apple2 5.14, © 2003-2011 Trevor Blackwell and Jamie Zawinski.
From the XScreenSaver collection:
http://www.jwz.org/xscreensaver/

Simulates an original Apple ][ Plus computer in all its 1979 glory.  It also reproduces the appearance of display on a color television set of the period.

In "Basic Programming Mode", a simulated user types in a BASIC program and runs it.  In "Text Mode", it displays the output of a program, or the contents of a file or URL.  In "Slideshow Mode", it chooses random images and displays them within the limitations of the Apple ][ display hardware.  (Six available colors in hi-res mode!)

On X11 systems, This program is also a fully-functional VT100 emulator.</string>
</dict>
</plist>
