<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>10J869</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Interaggregate</string>
	<key>CFBundleIdentifier</key>
	<string>org.jwz.xscreensaver.Interaggregate</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Interaggregate</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.14</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>5.14</string>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>10M2518</string>
	<key>DTPlatformVersion</key>
	<string>PG</string>
	<key>DTSDKBuild</key>
	<string>8S2167</string>
	<key>DTSDKName</key>
	<string>macosx10.4</string>
	<key>DTXcode</key>
	<string>0400</string>
	<key>DTXcodeBuild</key>
	<string>10M2518</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.4</string>
	<key>NSMainNibFile</key>
	<string>SaverTester</string>
	<key>NSPrincipalClass</key>
	<string>XScreenSaverInteraggregateView</string>
	<key>NSHumanReadableCopyright</key>
	<string>Interaggregate 5.14, © 2011 Casey Reas, William Ngan, Robert Hodgin, and Jamie Zawinski.</string>
	<key>CFBundleLongVersionString</key>
	<string>Interaggregate 5.14, © 2011 Casey Reas, William Ngan, Robert Hodgin, and Jamie Zawinski.</string>
	<key>CFBundleGetInfoString</key>
	<string>Interaggregate 5.14, © 2004-2011 Casey Reas, William Ngan, Robert Hodgin, and Jamie Zawinski.
From the XScreenSaver collection:
http://www.jwz.org/xscreensaver/

A surface is filled with a hundred medium to small sized circles. Each circle has a different size and direction, but moves at the same slow rate.  Displays the instantaneous intersections of the circles as well as the aggregate intersections of the circles.

Though actually it doesn't look like circles at all!</string>
</dict>
</plist>
