<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>10J869</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Munch</string>
	<key>CFBundleIdentifier</key>
	<string>org.jwz.xscreensaver.Munch</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Munch</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.14</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>5.14</string>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>10M2518</string>
	<key>DTPlatformVersion</key>
	<string>PG</string>
	<key>DTSDKBuild</key>
	<string>8S2167</string>
	<key>DTSDKName</key>
	<string>macosx10.4</string>
	<key>DTXcode</key>
	<string>0400</string>
	<key>DTXcodeBuild</key>
	<string>10M2518</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.4</string>
	<key>NSMainNibFile</key>
	<string>SaverTester</string>
	<key>NSPrincipalClass</key>
	<string>XScreenSaverMunchView</string>
	<key>NSHumanReadableCopyright</key>
	<string>Munch 5.14, © 2011 Jackson Wright, Tim Showalter, Jamie Zawinski and Steven Hazel.</string>
	<key>CFBundleLongVersionString</key>
	<string>Munch 5.14, © 2011 Jackson Wright, Tim Showalter, Jamie Zawinski and Steven Hazel.</string>
	<key>CFBundleGetInfoString</key>
	<string>Munch 5.14, © 1997-2011 Jackson Wright, Tim Showalter, Jamie Zawinski and Steven Hazel.
From the XScreenSaver collection:
http://www.jwz.org/xscreensaver/

        DATAI 2
        ADDB 1,2
        ROTC 2,-22
        XOR 1,2
        JRST .-4

As reported by HAKMEM (MIT AI Memo 239, 1972), Jackson Wright wrote the above PDP-1 code in 1962. That code still lives on here, some 46 years later.

In "mismunch" mode, it displays a creatively broken misimplementation of the classic munching squares algorithm instead.</string>
</dict>
</plist>
