<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>10J869</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Lockward</string>
	<key>CFBundleIdentifier</key>
	<string>org.jwz.xscreensaver.Lockward</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Lockward</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.14</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>5.14</string>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>10M2518</string>
	<key>DTPlatformVersion</key>
	<string>PG</string>
	<key>DTSDKBuild</key>
	<string>8S2167</string>
	<key>DTSDKName</key>
	<string>macosx10.4</string>
	<key>DTXcode</key>
	<string>0400</string>
	<key>DTXcodeBuild</key>
	<string>10M2518</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.4</string>
	<key>NSMainNibFile</key>
	<string>SaverTester</string>
	<key>NSPrincipalClass</key>
	<string>XScreenSaverLockwardView</string>
	<key>NSHumanReadableCopyright</key>
	<string>Lockward 5.14, © 2011 Leo L. Schwab and Jamie Zawinski.</string>
	<key>CFBundleLongVersionString</key>
	<string>Lockward 5.14, © 2011 Leo L. Schwab and Jamie Zawinski.</string>
	<key>CFBundleGetInfoString</key>
	<string>Lockward 5.14, © 2007-2011 Leo L. Schwab and Jamie Zawinski.
From the XScreenSaver collection:
http://www.jwz.org/xscreensaver/

A translucent spinning, blinking thing.  Sort of a cross between the wards in an old combination lock and those old backlit information displays that animated and changed color via polarized light.</string>
</dict>
</plist>
